language: java
jdk:
  - oraclejdk8

sudo: true

services:
  - docker

os:
  - linux

branches:
  only:
    - master

after_success:
  - ./gradlew buildDocker
  - docker login --username=_ --password=$HEROKU_KEY registry.heroku.com
  - docker push registry.heroku.com/lucas-mastermind-game/web

  - docker tag registry.heroku.com/lucas-mastermind-game/web:0.0.1-SNAPSHOT registry.heroku.com/lucas-mastermind-game-dev/web
  - docker push registry.heroku.com/lucas-mastermind-game-dev/web

  - docker tag registry.heroku.com/lucas-mastermind-game/web:0.0.1-SNAPSHOT registry.heroku.com/lucas-mastermind-game-qa/web
  - docker push registry.heroku.com/lucas-mastermind-game-qa/web
